# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb
*.idb

# Visual Studio build files
*.tlog
*.recipe
*.log
*.lastbuildstate

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Other files to ignore
.vs/
.DS_Store

# Visual Studio project user files
*.vcxproj.user

# Build output directories
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/